imports:
    - { resource: admin.yml }
    # - { resource: security.yml }
    - { resource: services.yml }
    
framework:
    translator: ~  

  
doctrine:
    dbal:  
        driver:   "%database_driver%"
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        # if using pdo_sqlite as your database driver, add the path in parameters.yml
        # e.g. database_path: "%kernel.root_dir%/data/data.db3"
        # path:     "%database_path%"
        mapping_types:
             enum: string
        types:
            json: Sonata\Doctrine\Types\JsonType
            # currency: Sonata\Component\Currency\CurrencyDoctrineType

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        default_entity_manager: default

        entity_managers:
            default:
                auto_mapping: true
                mappings: ~

stof_doctrine_extensions:
    default_locale: fr_FR
    orm:
        default:
            tree: true
            sluggable: true
            timestampable: true
        # other:
            # timestampable: true
            
twig:
    debug: %kernel.debug%
    strict_variables: %kernel.debug%
    # base_template_class: Sonata\CacheBundle\Twig\TwigTemplate14
    form:
        resources:
            - 'SonataFormatterBundle:Form:formatter.html.twig'
            # - 'SonataMediaBundle:Form:media_widgets.html.twig'
    # exception_controller: 'FOS\RestBundle\Controller\ExceptionController::showAction'

sonata_media:
    providers:
        image:
            resizer: sonata.media.resizer.square
    default_context: default
    db_driver: doctrine_orm # or doctrine_mongodb, doctrine_phpcr
    contexts:
        default:  # the default context is mandatory
            providers:
                - sonata.media.provider.dailymotion
                - sonata.media.provider.youtube
                - sonata.media.provider.image
                - sonata.media.provider.file

            formats:
                small: { width: 180 , quality: 70}
                big:   { width: 500 , quality: 70}

    cdn:
        server:
            path: /uploads/media # http://media.sonata-project.org/

    filesystem:
        local:
            directory:  %kernel.root_dir%/../web/uploads/media
            create:     true
            
sonata_formatter:
    formatters:
        markdown:
            service: sonata.formatter.text.markdown
            extensions:
                - sonata.formatter.twig.control_flow
                - sonata.formatter.twig.gist
        #        - sonata.media.formatter.twig #keep this commented unless you are using media bundle.


        text:
            service: sonata.formatter.text.text
            extensions:
                - sonata.formatter.twig.control_flow
                - sonata.formatter.twig.gist
        #        - sonata.media.formatter.twig


        rawhtml:
            service: sonata.formatter.text.raw
            extensions:
                - sonata.formatter.twig.control_flow
                - sonata.formatter.twig.gist
        #        - sonata.media.formatter.twig


        richhtml:
            service: sonata.formatter.text.raw
            extensions:
                - sonata.formatter.twig.control_flow
                - sonata.formatter.twig.gist
        #        - sonata.media.formatter.twig


        twig:
            service: sonata.formatter.text.twigengine
            extensions: [] # Twig formatter cannot have extensions
            
sonata_block:
    default_contexts: [cms]
    blocks:
        # Enable the SonataAdminBundle block
        sonata.admin.block.admin_list:
            contexts:   [admin]
        sonata.user.block.menu:    # used to display the menu in profile pages
        sonata.user.block.account: # used to display menu option (login option)
        sonata.block.service.text: # used to if you plan to use Sonata user routes

fos_user:
    db_driver:      orm # can be orm or odm
    firewall_name:  main
    user_class:     Sonata\UserBundle\Entity\BaseUser

    group:
        group_class:   Sonata\UserBundle\Entity\BaseGroup
        group_manager: sonata.user.orm.group_manager 
    service:
        user_manager: sonata.user.orm.user_manager 

sonata_user:
    security_acl: true
    manager_type: orm # can be orm or mongodb

# app/config/security.yml
security:
    # [...]
    acl:
        connection: default