<div class="row">
    <div class="large-12 columns">
        <ul id="slides">
        {%for index, media  in slider.galleryHasMedias %}
            {%if media.getMedia.enabled %}
            <li><img src="{% path media.getMedia, 'slider' %}" alt="{{ media.getMedia.name }}" /></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>