<div class="row">
    <div class="large-12 columns">
        <ul id="slides">
            <li><img src="../img/1.jpg" alt="" /></li>
            <li><img src="../img/2.jpg" alt="" /></li>
            <li><img src="../img/4.jpg" alt="" /></li>
        </ul>
    </div>
</div>