<!-- Footer -->
<footer class="row bgwight" >
    <div class="large-6 columns">
        <div class="copy"><small>&copy;Copyright 2013 Sesame | Tous droits réservés.</small></div>
    </div>
    <div class="large-6 small-12 columns">
        <ul class="inline-list right">
            <li><a href="{{ url('sesame_site_sitemap') }}">Plan du site</a></li>
            <li><a href="{{ url('sesame_site_contact_show') }}">contact</a></li>
          </ul>
      </div>
</footer>
<!-- End Footer -->