<!-- Footer -->
<footer class="row">
    <div class="large-6 columns">
        <div class="copy"><p>©Copyright 2013 Sesame | All Rights Reserved.</p></div>
    </div>
    <div class="large-6 small-12 columns">
        <ul class="inline-list right">
            <li><a href="{{ url('sesame_site_sitemap') }}">Plan du site</a></li>
            <li><a href="#contact">contact</a></li>
          </ul>
      </div>
</footer>
<!-- End Footer -->