<div class="back">
<div class="row">
        <!-- Navigation -->
 
  <nav class="top-bar" data-topbar>
   <div class="large-12 columns">
    <ul class="title-area">
      <!-- Title Area -->

      <li class="name">
      <a href="../index.php">
<img src="http://sesamecover.com/wp-content/uploads/2013/12/TEST_logo_Sesamecover_texte_seul_noir_site_vp-2.png" alt="Sésame Cover" class="normal_logo"></a><h1 class="titre"><a href="index.php"><b>Focus sur l'Abri de piscine</b></a></h1>
      </li>
      </div>
    </ul> 
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <!--<ul class="right">
        <li class="divider"></li>
        <li><a href="contact.php">contact</a></li>
      </ul>-->
    </section>
  </nav></div></div>