<div class="back">
    <div class="row">
        <nav class="top-bar" data-topbar>
            <div class="large-12 columns">
                <ul class="title-area">
                    <li class="name">
                        <a href="{{ path('sesame_site_homepage') }}">
                            <img src="http://sesamecover.com/wp-content/uploads/2013/12/TEST_logo_Sesamecover_texte_seul_noir_site_vp-2.png" alt="Sésame Cover" class="normal_logo">
                            <span class="titre">Focus sur l'Abri de piscine</span>
                        </a>
                    </li>
                </ul> 
                {#
                <div class="top-bar-section">
                    <ul class="right">
                        <li class="divider"></li>
                        <li><a href="#contact">contact</a></li>
                    </ul>
                </div>
                #}
            </div>
        </nav>
    </div>
</div>